{% extends 'BlastSearchBundle:Search/Results:result.html.twig' %}

{% set resultUrl = path('admin_crm_city_show', {'id': result.id}) %}

{% block search_url %}
    {{ resultUrl }}
{% endblock %}

{% block search_title %}
    {{ result.city|upper }}
{% endblock %}

{% block search_main_text %}
    {{ result.zip }} - {{ result.countryCode }}
{% endblock %}

{% block search_actions %}
    <div class="btn-group">
        <a class="btn btn-default" href="{{ resultUrl }}">
            {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
        </a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {# {% if is_granted('EDIT', result) %} #}
            <li>
                <a href="{{ path('admin_crm_city_edit', {'id': result.id}) }}">
                    {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
                </a>
            </li>
            {# {% endif %} #}
        </ul>
    </div>
{% endblock %}
