{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% set address_admin = field_description.admin.show.elements.addresses.associationadmin %}
{% set fields = address_admin.show.elements %}

{% block field %}
    <div class="blast-show-collection" data-field-name="{{field_description.name}}">
        {% for address in value %}
            <div class="box box-primary">
                <table class="table li-crm-address blast-show-collection-element">
                    <tbody>
                    {% if address.id == object.defaultAddress.id %}
                        <div class="blast-table-label">
                            <span class="label label-info">{{ 'sil.crm.address.show.label.default_address'|trans() }}</span>
                        </div>
                    {% endif %}
                    <tr class="sonata-ba-view-container">
                        <th colspan="2">
                            {% block address %}
                                {% if address_admin.isGranted('SHOW') %}

                                    {#
                                        <a href="{{ address_admin.generateObjectUrl('show', address) }}">
                                        </a>
                                    #}
                                {% else %}
                                    {{ address|render_relation_element(elements['addresses']) }}
                                {% endif %}
                            {% endblock %}
                        </th>
                    </tr>
                    <tr class="sonata-ba-view-container">
                        {% if address.customer and address.customer.isIndividual %}
                            {{ address.firstName }} {{ address.lastName }}
                        {% else %}
                            {{ address.lastName }}
                        {% endif %}
                        <br />
                        {{ address.street }}
                        <br />
                        {{ address.city }} {{ address.postCode }} ({{ address.countryCode }})
                        {% if address.npai %}
                            <br />
                            <span class="label label-danger">{%- trans from 'messages' %}NPAI{% endtrans -%}</span>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
