{#

TODO: refactor this. We should be able to embed related admins in show views
TODO: put each contact in its own box (pseudo groups)
TODO: compact contact address (add fullAddress getter in Contact entity)

#}

{% set elems = field_description.associationadmin.show.elements %}
{% set organism_admin = elems['organism'].associationadmin %}
{% set organism_elems = organism_admin.show.elements %}

{% for position in value %}
    <table class="table li-crm-position">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th colspan="2">
                    {% block contact_position_organism %}
                    {% if organism_admin.isGranted('SHOW') %}
                        <a href="{{ organism_admin.generateObjectUrl('show', position.organism) }}">{{ position.organism|render_relation_element(elems['organism']) }}</a>
                    {% else %}
                        {{ position.organism|render_relation_element(elems['organism']) }}
                    {% endif %}
                    {% endblock %}
                </th>
            </tr>
            <tr class="sonata-ba-view-container">
                {{ elems['department']|render_view_element(position) }}
            </tr>
            <tr class="sonata-ba-view-container">
                {{ elems['positionType.name']|render_view_element(position) }}
            </tr>
            <tr class="sonata-ba-view-container">
                {{ elems['label']|render_view_element(position) }}
            </tr>
            <tr class="sonata-ba-view-container">
                {{ elems['email']|render_view_element(position) }}
            </tr>
            <tr class="sonata-ba-view-container">
                {{ elems['phone']|render_view_element(position) }}
            </tr>
            <tr class="sonata-ba-view-container">
                {{ elems['description']|render_view_element(position) }}
            </tr>
        </tbody>
    </table>
{% endfor %}

<script type="text/javascript">
    $(document).ready(function(){
        var container = $('.li-crm-position').eq(0).closest('.box-primary').closest('div');
        $('.li-crm-position').each(function(){
            var new_container = $('<div>').insertAfter(container);
            $('<div class="box box-primary">').appendTo(new_container).append($(this));
        });
        container.remove();
    });
</script>
