{#

This file is part of the Sonata package.

(c) Baptiste SIMON <beta@e-glop.net>
(c) Libre Informatique [http://www.libre-informatique.fr/]

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataDoctrineORMAdminBundle:CRUD:show_orm_one_to_many.html.twig' %}

{% block field %}
    {% if value %}
        {% set route_name = field_description.options.route.name %}
        {% set route_role = route_name | upper %}
        <ul>
        {% dump(value) %}
        {% if ( isObjectInstanceOf(value.owner, 'Librinfo\\CRMBundle\\Entity\\Organism') ) %}
        {% for object in value %}
            <li>
                {% block field_position_contact %}
                    <div class="librinfo_position_link">
                    <a href="{{ path('admin_librinfo_crm_contact_show', {'id': object.contact.id}) }}">{{ object.contact }}</a> ({{ object }})
                    </div>
                {% endblock %}
                {% include 'LibrinfoCRMBundle:CRUD:show_orm_position_content.html.twig' %}
            </li>
        {% endfor %}
        {% else %}
        {% for object in value %}
            <li>
                {% block field_position_organism %}
                    <div class="librinfo_position_link">
                    {{ object }} @ <a href="{{ path('admin_librinfo_crm_organism_show', {'id': object.organism.id}) }}">{{ object.organism }}</a>
                    </div>
                {% endblock %}
                {% include 'LibrinfoCRMBundle:CRUD:show_orm_position_content.html.twig' %}
            </li>
        {% endfor %}
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}

