{#

This file is part of the Sonata package.

(c) Baptiste SIMON <beta@e-glop.net>
(c) Libre Informatique [http://www.libre-informatique.fr/]

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block field_position_content %}
<div class="librinfo_crm_position_content">
    <div class="librinfo_crm_position_content_label">
        {% if object.label == object.__toString %}
            <label>{% trans %}Type{% endtrans %}</label>
            <span>{{ object.positionType }}</span>
        {% endif %}
    </div>
    <div class="librinfo_crm_position_content_email">
        <label>{% trans %}Email address{% endtrans %}</label>
        <a href="mailto:{{object.email}}">{{ object.email }}</a>
    </div>
    <div class="librinfo_crm_position_content_phone">
        <label>{% trans %}Phone number{% endtrans %}</label>
        <span>{{ object.phone }}</span>
    </div>
    {% if object.circles %}
        <div class="librinfo_crm_circles">
            <label>{% trans %}Groups:{% endtrans %}</label>
            <ul class="librinfo_crm_circles">
            {% for circle in object.circles %}
                <li><a href="{{ path('admin_librinfo_crm_circle_show', { 'id': circle.id }) }}">{{ circle }}</a></li>
            {% endfor %}
            <ul>
        </div>
    {% endif %}
    <div class="librinfo_crm_position_content_department">
        <label>{% trans %}Department{% endtrans %}</label>
        <span>{{ object.department }}</span>
    </div>
    <div class="librinfo_crm_position_content_description">
        <label>{% trans %}Description{% endtrans %}</label>
        <span>{{ object.description }}</span>
    </div>
</div>
{% endblock %}
