<a href="{{ path(sonata_admin.admin.getBaseRouteName() ~ '_validateVat') }}" id="validate-vat-link" >
    {% trans %}sil.crm.organism.form.action.validate_vat{% endtrans %}
    <span aria-hidden="true" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top"
          title="{{ 'sil.crm.organism.form.help.vat_validation'|trans() }}"></span>
</a>

<span id="validate-vat-wait">{{ 'sil.crm.organism.form.msg.validating_vat'|trans() }}</span>
<span aria-hidden="true" class="glyphicon glyphicon-ok" id="validate-vat-ok"></span>
<span id="validate-vat-error">
    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
    <span id="vat-err-msg">{{ 'Not a valid VAT number'|trans() }}</span>
</span>

<script>
    $(document).ready(function(){

        var $vatInput = $('#{{ form.vars.id }}');
        var $vatVerifiedInput = $('#{{ form.parent.children.vatVerified.vars.id }}');

        function getVatVerified() {
            return parseInt($vatVerifiedInput.val());
        }

        function setVatVerified(value) {
            return $vatVerifiedInput.val(value);
        }

        function validateVat() {
            setVatVerified(0);
            vatStatus('wait');
            var url = $('#validate-vat-link').attr('href');
            var params = { vat: $vatInput.val().trim() };
            $.getJSON(url, params, function(data){
                if (data.valid) {
                    setVatVerified(1);
                    vatStatus('ok');
                }
                else {
                    setVatVerified(-1);
                    var msg = data.msg ? data.msg : '';
                    vatStatus('error', msg);
                }
            });
            return false;
        }

        function vatStatus(status, msg) {
            $('[id^=validate-vat-').hide();
            if (msg)
                $('#vat-err-msg').text(msg);
            $('#validate-vat-' + status).show();
        }

        $vatInput.on('input', function(){
            if ( getVatVerified() !== 0 ) {
                setVatVerified(0);
                vatStatus('link');
            }
        });
        $('#validate-vat-link').click(validateVat);

        switch( getVatVerified() ) {
            case 1:
               vatStatus('ok');
               break;
            case -1:
                vatStatus('error');
                break;
            default:
                vatStatus('link');
        }
    });
</script>
